@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #1b3c53;
}

.logo {
    height: 50px;
    width: auto;
    margin-right: auto;
}

h2, h3, p {
    color: #E3E3E3;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    /* width: 100%; */
    /* position: fixed;
    top: 0;
    left: 0;    
    right: 0;
    background: #1b3c53;
    z-index: 1000; */
    border-bottom: 4px solid white;
}

nav > ul > li {
    list-style: none;
    margin-left: 40px;

}

li > a {
    text-decoration: none;
    color: #456882;
    font-weight: 500;
    font-size: 1.25rem;
}

li > a:hover {
    color: #E3E3E3;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}


nav > ul {
    display: flex;
}


/* Hero Section */

h1 {
    color: #E3E3E3;
    font-size: 3rem;
}

.hero-tagline {
    color: #E3E3E3;
    font-size: 1.625rem;
    max-width: 600px;
}

.hero-sub {
    color: #E3E3E3;
    font-size: 1.5625rem;
    max-width: 600px;
}

.hero-btn {
    background-color: #456882;
    color: #E3E3E3;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.125rem;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.hero-btn:hover {
    background-color: #1b3c53;
    color: #E3E3E3;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 90vh;
    background-color: #234C6A;
    background-image: url("../assets/images/hero-image.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    border-bottom: 2px solid rgb(255, 255, 255);
}

.hero::before {                            /* ← ADD ALL OF THIS */
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(35, 76, 106, 0.7);    /* ← change 0.8 to 0.5–0.9 for more/less opacity */
    z-index: 1;
}

.hero-content {
    position: relative;                    /* ← ADD THIS (or already have it) */
    z-index: 2;                            /* makes text stay on top */
}


/* About Section */

.container {
    width: 100%;
}

section:not(#home) {
    border: 2px solid #fff;
}

main section:nth-of-type(even) {
    background-color: #234C6A;
}

main section:nth-of-type(odd) {
    /* background-color: #2d5979; */
    background-color: #234C6A;
}

.section-title {
    text-align: center;
    margin-bottom: 40px;
    align-items: center;
    padding-top: 10px;
    font-size: 2.175rem;
    
    /* this is for adjusting the title position vertically */
    
    top: -40px;
    position: relative;
}



.about-content {
    display: flex;
    
}


.about-text > p {
    color: #E3E3E3;
    font-size: 1.4375rem;
    line-height: 1.6;
    text-align: center;
    padding: 20px;
    padding-top: 50px;
    width: 50%;
}


.container  .about-us-image {
    width: 400px;
    height: auto;
    border-radius: 30px;
    /* margin-right: 40px; */
}


/* Add this to your CSS */
.about-section,
.services-section {
    max-width: 1300px;           /* controls how wide the "card" gets */
    margin: 4rem auto;           /* centers it + adds top/bottom space */
    padding: 4rem 3rem;          /* inner spacing */
    background: #E3E3E3;        /* or white, or #f8f9fa */
    border-radius: 40px;         /* big rounded corners – adjust 30–60px */
    text-align: center;
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);  /* optional but looks pro */
}

hr {
    border: none;
    height: 2px;
    background-color: #456882;
    width: 150px;
    margin: 10px auto 40px auto;
}



/* Service Section */


.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.card {
    width: 325px;
    background-color: #2d5979;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.card img {
    width: 100%;
    height: 220px;
}

.card-content {
    padding: 16px;
}

.card-content h3 {
    font-size: 1.75rem;
    margin-bottom: 8px;
}

.card-content li {
    color: #e3e3e3;
    font-size: 0.9375rem;
    line-height: 1.8;
    list-style: none;
}

.card-content .card-btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #1b3c53;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: #456882;
}

.card-content .card-btn:hover {
    background-color: #456882;
    color: #e3e3e3;
}



/* Contact Section */

.contact-section {
    max-width: 1300px;
    margin: 4rem auto;
    padding: 4rem 3rem;
    background: #E3E3E3;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}

.contact-form {
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    border: 1px solid black;
}

.form-container > h3 {
    margin-bottom: 15px;
    text-align: left;
    font-size: 1.5rem;

}

.form-container > form{
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.form-container {
    width: 100%;
    padding: 10px;
}

form > label {
    text-align: left;
    margin-bottom: 8px;
    font-weight: 300;
    color: #fff;
}

form > input {
    width: 10;
}

.info-container {
    width: 100%;
    padding: 10px;
}

.info-container > h3 {
    margin-bottom: 15px;
    text-align: left;
    font-size: 1.5rem;
}

.info-container > p {
    text-align: left;
    margin-bottom: 8px;
    font-weight: 300;
    color: #fff;
}

/* #1B3C53
#234C6A
#456882
#E3E3E3

rgb(27, 60, 83)
rgb(35, 76, 106)
rgb(69, 104, 130)
rgb(227, 227, 227) */
