@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #1b3c53;
}

.logo {
    height: 50px;
    width: auto;
    margin-right: auto;
}

h2, h3, p {
    color: #E3E3E3;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    /* width: 100%; */
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #1b3c53;
    z-index: 1000; */
}

nav > ul > li {
    list-style: none;
    margin-left: 40px;

}

li > a {
    text-decoration: none;
    color: #456882;
    font-weight: 500;
    font-size: 1.25rem;
}

li > a:hover {
    color: #E3E3E3;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}


nav > ul {
    display: flex;
}


/* Hero Section */

h1 {
    color: #E3E3E3;
    font-size: 3rem;
}

.hero-tagline {
    color: #E3E3E3;
    font-size: 1.625rem;
    max-width: 600px;
}

.hero-sub {
    color: #E3E3E3;
    font-size: 1.5625rem;
    max-width: 600px;
}

.hero-btn {
    background-color: #456882;
    color: #E3E3E3;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.125rem;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.hero-btn:hover {
    background-color: #1b3c53;
    color: #E3E3E3;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 90vh;
    background-color: #234C6A;
    background-image: url("../assets/images/hero-image.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::before {                            /* ← ADD ALL OF THIS */
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(35, 76, 106, 0.7);    /* ← change 0.8 to 0.5–0.9 for more/less opacity */
    z-index: 1;
}

.hero-content {
    position: relative;                    /* ← ADD THIS (or already have it) */
    z-index: 2;                            /* makes text stay on top */
}


/* About Section */

.container {
    width: 100%;
}

/* main {
    background-color: white;
} */

main section:nth-of-type(even) {
    background-color: #234C6A;
}

main section:nth-of-type(odd) {
    background-color: #2d5979;
}

.section-title {
    text-align: center;
    margin-bottom: 40px;
    align-items: center;
    padding-top: 10px;
    border: 1px solid black;
    
    /* this is for adjusting the title position vertically */
    
    /* top: -40px;
    /* position: relative; */
}



.about-content {
    display: flex;
    border: 1px solid black;
}




.about-text > p {
    color: #E3E3E3;
    font-size: 1.4375rem;
    line-height: 1.6;
    text-align: center;
    padding: 20px;
    padding-top: 60px;
    width: 50%;
}

.container  img {
    width: 400px;
    height: auto;
    margin-right: 40px;
}


/* Add this to your CSS */
.about-section,
.services-section {
    max-width: 1300px;           /* controls how wide the "card" gets */
    margin: 4rem auto;           /* centers it + adds top/bottom space */
    padding: 4rem 3rem;          /* inner spacing */
    background: #E3E3E3;        /* or white, or #f8f9fa */
    border-radius: 40px;         /* big rounded corners – adjust 30–60px */
    text-align: center;
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);  /* optional but looks pro */
}


#1B3C53
#234C6A
#456882
#E3E3E3

rgb(27, 60, 83)
rgb(35, 76, 106)
rgb(69, 104, 130)
rgb(227, 227, 227)
