@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #1b3c53;
}

.logo {
    height: 50px;
    width: auto;
    margin-right: auto;
}

h2, h3, p {
    color: #E3E3E3;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    /* width: 100%; */
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #1b3c53;
    z-index: 1000; */
}

nav > ul > li {
    list-style: none;
    margin-left: 40px;

}

li > a {
    text-decoration: none;
    color: #456882;
    font-weight: 500;
    font-size: 20px;
}

li > a:hover {
    color: #E3E3E3;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}


nav > ul {
    display: flex;
}


/* Hero Section */

h1 {
    color: #E3E3E3;
    font-size: 48px;
}

.hero-tagline {
    color: #E3E3E3;
    font-size: 26px;
    max-width: 600px;
}

.hero-sub {
    color: #E3E3E3;
    font-size: 25px;
    max-width: 600px;
}

.hero-btn {
    background-color: #456882;
    color: #E3E3E3;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.hero-btn:hover {
    background-color: #1b3c53;
    color: #E3E3E3;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 90vh;
    background-color: #234C6A;
    background-image: url("../assets/images/hero-image.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::before {                            /* ← ADD ALL OF THIS */
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(35, 76, 106, 0.7);    /* ← change 0.8 to 0.5–0.9 for more/less opacity */
    z-index: 1;
}

.hero-content {
    position: relative;                    /* ← ADD THIS (or already have it) */
    z-index: 2;                            /* makes text stay on top */
}


/* About Section */

.container {
    max-width: 100%;
    background-color: #234C6A;
}

.section-title {
    text-align: center;
    margin-bottom: 40px;
    align-items: center;
    padding-top: 30px;
}

.about-content {
    display: flex;
    border: 1px solid black;
}

.about-text > p {
    color: #E3E3E3;
    font-size: 23px;
    line-height: 1.6;
    text-align: center;
    padding: 20px;
    padding-top: 60px;
}

.container  img {
    width: 400px;
    height: auto;
    margin-right: 40px;
}



#1B3C53
#234C6A
#456882
#E3E3E3

rgb(27, 60, 83)
rgb(35, 76, 106)
rgb(69, 104, 130)
rgb(227, 227, 227)
